<h3 class="page_title">いいね</h3>

<div>
  <% if flash[:notice].present? %>
    <span class="message"><%= flash[:notice] %></span>
  <% end %>
</div>

<%= render partial: 'public/posts/list', locals: { posts: @favorite_posts } %>