<h3 class="page_title">会員一覧</h3>

<div class="message-container">
  <% if flash[:danger].present? %>
    <div class="message">
      <%= flash[:danger] %>
    </div>
  <% end %>
  <% if flash[:notice].present? %>
    <div class="message">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<%= render 'list',customers: @customers %>