<h3 class="page_title">画像を投稿する</h3>
<div class="form_wrap">
  <div class="form_flex">
      <div>
        <p class="post_nwe_title">投稿画像</p>
        <p class="post_nwe_title">投稿文</p>
      </div>
 <div>
  <%= form_for [:public, @post], local: true do |f| %>
          <%= f.file_field :image, accept: "image/*", class: "post_nwe_form" %><br>
          <%= f.text_area :caption, rows:"3", placeholder:"ここに投稿文を記載する", class: "post_nwe_form" %>
    <%= f.submit '投稿する' %>

  <% end %>
        </div>
  </div>

</div>