<h3 class="page_title">フォロワー</h3>
<% if @customers.exists? %>
  <%= render "/public/customers/list", customers: @customers %>
<% else %>
  <p class="no_customer">ユーザーはいません</p>
<% end %>

<!--新規投稿ボタン、トップへ戻るボタン-->
<div class="bottom_btn">
  <% if current_customer %><!--ログイン時は新規投稿ボタンが現れる-->
    <%= render '/public/posts/post_btn' %>
  <% end %>
  <a class="top-btn top_btn_bottom"><%= image_tag "top_btn.png",alt: "トップへ戻る", class: 'top_btn' %></a>
</div>