/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

/*ヘッダー*/
#header {
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(0 6px 12px #f0f0f0);
}


#global_nav {
  margin-left: auto;
}

#global_nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}

#global_nav li {
  margin-left: 20px;
}

#global_nav li a {
  line-height: 34px;
}

#search_form {  /*検索フォーム外枠*/
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 5px
}

#search_form select {  /*検索フォームセレクト部分*/
  background-color: #fff;
  border: 0px;
  padding: 0px;
  border-radius: 0px;
  font-size: 16px;
}

#search_form select:focus {
  outline: none;
}

#search_form input[type="text"] {  /*検索フォーム入力部分*/
  background-color: #fff;
  border: 0px;
  padding: 0px;
  border-radius: 0px;
  font-size: 16px;
}

#search_form input[type="text"]:focus {
  outline: none;
}

#search_form input[type="submit"] {  /*検索フォームボタン部分*/
  background-color: #fff;
  padding: 0px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
}