/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-family: 'Zen Maru Gothic', serif;
  font-size: 16px;
  line-height: 1;
}

 body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

/*ヘッダー*/
#header {
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(0 6px 12px #c0c0c0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

main {
  flex: 1;
  padding: 0;
}

footer {
   margin-top: auto;
}

.page_title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 120px 0 38px 0;
}

.btn_y {
  width: 168px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background-color: #ffea00;
  border: 0px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn_y_s {
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  background-color: #ffea00;
  border: 0px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn_y_ss {
  width: 80px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  background-color: #ffea00;
  border: 0px;
  border-radius: 20px;
  font-weight: bold;
}

.btn_g {
  width: 168px;
  height: 40px;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background-color: #e6e6e6;
  border: 0px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn_g_s {
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  background-color: #e6e6e6;
  border: 0px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn_g_ss {
  width: 80px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  background-color: #e6e6e6;
  border: 0px;
  border-radius: 20px;
  font-weight: bold;
}

.post_btn {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  display: block;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  background-color: #ffea00;
  cursor: pointer;
}

.top_btn {
  width: 60px;
  display: block;
  cursor: pointer;
}

.bottom_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/*headerナビゲーション部分*/
.global_nav {
  margin-left: auto;
  font-weight: bold;
}

.global_nav ul {
  height: 40px;
}

.global_nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.global_nav li {
  margin-left: 30px;
}

.global_nav li a {
  line-height: 40px;
}

.header_logo a {
  width: 186px;
  display: block;
cursor: pointer;
}

.header_logo a img {
  width: 100%;
}

.search_form {  /*検索フォーム外枠*/
  height: 40px;
  width: 462px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 6px
}

.custom_select {  /*検索フォームセレクト部分*/
  background-color: #fff;
  border: 0px;
  padding: 0 15px 0 15px;
  border-left: 1px solid #e6e6e6;
  border-radius: 0px;
  font-weight: bold;
}

.border_hide {
  border-left: 0px;
}

.search_form select:focus {
  outline: none;
}

.search_btn {
  margin-right: 10px;
}

.search_form input[type="text"] {  /*検索フォーム入力部分*/
  width: 216px;
  background-color: #fff;
  border: 0px;
  padding: 0 0 0 10px;
  border-left: 1px solid #e6e6e6;
  border-radius: 0px;
}

.search_form input[type="text"]:focus {
  outline: none;
}

.search_form input[type="submit"] {  /*検索フォームボタン部分*/
  background-color: #fff;
  padding: 0px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.profile_img_s img {  /*アイコン部分*/
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}

.header_btn {
  width: 140px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
}

.hm_btn {  /*ハンバーガーアイコンPC版では消しておく*/
  display: none;
}

.sp-menu {  /*SP版メニューPC版では消しておく*/
  display: none;
}

.contents_padding {
  padding: 0 20px;
}

/*フラッシュメッセージ部分*/
.message-container {
  text-align: center;
}

.message {
  display: inline-block;
  padding: 8px 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: bold;
  background-color: #ffea00;
}

/*トップページ部分*/
.mv_bg {
  width: 100%;
  height: calc(100vh - 30px);
  background-image: image-url("nekolog_top.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_text_wrap {
  padding: 40px 100px;
  text-align: center;
  border-radius: 6px;
  background-color: #fff;
  filter: drop-shadow(0 6px 12px #767676);
}

.top_copy  {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
}

.top_logo {
  display: block;
  max-width: 543px;
  margin: 0 auto 40px;
}

.top_logo img {
  width: 100%;
}

.top_text {
  margin: 0 auto 40px;
  font-weight: bold;
  line-height: 34px;
}

.guestlogin-wrap {
  margin-top: 30px;
}

.top_form_flex_btn {
  display: flex;
  align-items: center;
  justify-content:center;
}

.btn_g_top {
  width: 168px;
  height: 40px;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background-color: #e6e6e6;
  border: 0px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn_y_top {
  width: 168px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background-color: #ffea00;
  border: 0px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.guestlogin {
  margin-top: 30px;
  font-weight: bold;
}

/*投稿一覧部分*/
.post_wrap {
  max-width: 1020px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.post {
  width: 320px;
  height: 440px;
  margin: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  position: relative;
}

.icon_neme_day {
  display: flex;
  margin-bottom: 20px;
}

.post_img {
  width: 100%;
  height: 212px;
  object-fit: cover;
  object-position: center center;
  border-radius: 6px 6px 0 0;
}

.post_text {
  margin: 20px 20px 0 20px;
}

.profile_flex {
  margin-left: 14px;
}

.post_customer_name {
  font-weight: bold;
  margin-bottom: 5px;
}

.post_day {
  font-size: 14px;
  color: #999;
}

.post_caption {
  margin-bottom: 20px;
  line-height: 30px;
}

.comment_favo {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.favo_y , .favo_g , .comment_g {
  width: 23px;
  height: 21px;
  margin: 0 4px 0 10px;
}

.comment_g {
  width: 21px;
  height: 21px;
  margin: 0 4px 0 10px;
}

.delete_g {
  height: 21px;
  width: 17px;
}

.favo_count , .comment_count{
  font-size: 20px;
  font-weight: bold;
}

.comment_count_h {
  font-size: 20px;
  font-weight: bold;
  margin-left: 4px;
  line-height: 25px;
}

/*投稿詳細部分*/
.post_show {
  max-width: 600px;
  margin: 120px auto 40px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  position: relative;
}

.post_show_img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.post_customer_name {
  font-weight: bold;
}

.show_comment_favo {
  margin-bottom: 20px;
  display: flex;
  justify-content:flex-end
}

.comment_form {
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
  padding: 8px 10px;
  border: 1px solid #e6e6e6;
  line-height: 25px;
}

.comment_btn_flex {
  display: flex;
  justify-content:flex-end
}

.comment_btn {
  margin-bottom: 20px;
}

.comment_icon_neme_day {
  display: flex;
  margin-bottom: 10px;
}

.comment_profile_flex {
  display: flex;
  margin-bottom: 20px;
}

.comment_text {
  width: 450px;
  margin-right: 14px;
  line-height: 24px;
  font-size: 14px;
}

/*新規登録フォーム部分*/
.sinup_form_wrap {
  max-width: 800px;
  padding: 40px;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
}

.sinup_form_flex {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.sinup_form_flex p {
  width: 150px;
  font-weight: bold;
}

.sinup_form_control {
  width: 300px;
  height: 30px;
  padding: 8px 10px;
  border: 1px solid #e6e6e6;
}

.sinup_form_flex_last {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.sinup_form_flex_last p {
  width: 150px;
  font-weight: bold;
}

.sinup_form_flex_btn {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content:center;
}

.post_form_error {
  width: 800px;
  margin: 0 auto 40px;
  font-weight: bold;
  line-height: 30px;
}


/*ログインフォーム部分*/
.login_form_wrap {
  max-width: 800px;
  padding: 40px;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
}

.login_form_flex {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content:center
}

.login_form_flex p {
  width: 150px;
  font-weight: bold;
}

.login_form_control {
  width: 300px;
  height: 30px;
  padding: 8px 10px;
  border: 1px solid #e6e6e6;
}

.login_form_flex_last {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.login_form_flex_last p {
  width: 150px;
  font-weight: bold;
}

.login_form_flex_btn {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content:center;
}


/*投稿フォーム部分*/
.post_form_wrap {
  max-width: 800px;
  padding: 40px;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
}

.post_form_flex {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.post_form_flex p {
  width: 100px;
  font-weight: bold;
}

.post_form_control_img {
  width: 300px;
}

.post_form_flex_cap {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;;
  justify-content:center
}

.post_form_flex_cap p {
  width: 100px;
  font-weight: bold;
}

.post_form_control_cap {
  width: 300px;
  height: 100px;
  padding: 8px 10px;
  line-height: 25px;
  border: 1px solid #e6e6e6;
}

.post_form_flex_btn {
  margin-bottom: 0px;
  display: flex;
  align-items: flex-start;;
  justify-content:center
}


/*会員一覧部分*/
.customers_list {
  margin: 0 auto 40px;
  padding: 0 20px;
  max-width: 600px;
}

.customers_wrap {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.icon_folow_int {
  width: 100%;
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 10px;
}

.icon_name {
  display:flex;
  align-items: center;
}

.customer_name {
  font-weight: bold;
  margin-left: 20px;
}

.customers_text {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.no_customer {
  font-weight: bold;
  text-align: center;
}

/*会員詳細部分*/
.profile_bg {
  width: 100%;
  padding: 120px 20px 40px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
}

.profile {
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
}

.profile_img_b {
  width: 130px;
  height: 130px;
  margin: 0 20px 14px 0;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}

.icon_neme_customer {
  display: flex;
  justify-content: center;
}

.customer_name_b {
  margin-bottom: 14px;
  font-size: 26px;
  font-weight: bold;
}

.customer_show_counters {
  font-size: 22px;
  font-weight: bold;
}

.customer_show_counters span {
  font-size: 16px;
  color: #808080;
}

.counter_flex {
  display: flex;
  margin-bottom: 14px;
}

.counter_flex a {
  margin-right: 16px;
}

.folow_edit {
  margin-bottom: 14px;
}

.customer_show_text {
  line-height: 30px;
}

.no_post {
  font-weight: bold;
  text-align: center;
}

/*プロフィール編集フォーム*/
.prf_form_wrap {
  max-width: 800px;
  padding: 40px;
  margin: 0 auto 40px;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
}

.prf_form_flex {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.prf_form_flex p {
  width: 150px;
  font-weight: bold;
}

.prf_form_control {
  width: 300px;
  height: 30px;
  padding: 8px 10px;
  border: 1px solid #e6e6e6;
}

.prf_form_flex_int {
  display: flex;
  align-items: flex-start;
}

.prf_form_flex_int p {
  width: 150px;
  font-weight: bold;
}

.prf_form_flex_sta {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.prf_form_flex_sta p {
  width: 150px;
  font-weight: bold;
}

.prf_form_control_int {
  width: 540px;
  height: 100px;
  margin-bottom: 40px;
  padding: 8px 10px;
  line-height: 25px;
  border: 1px solid #e6e6e6;
}

.prf_form_flex_btn {
  display: flex;
  align-items: center;
  justify-content:center;
}

.prf_form_withdrawal {
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
}

/*退会ページ部分*/
.confirm_wrap {
  max-width: 800px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
}

.confirm_wrap h4 {
  font-size: 26px;
  margin-bottom: 30px;
}

.confirm_wrap p {
  line-height: 30px;
  margin-bottom: 30px;
}

.confirm_form_flex_btn {
  display: flex;
  align-items: center;
  justify-content:center;
}

/*管理者側会員一覧部分*/
.customer_table_sp {
  display: none;
}

.customer_table {
  max-width: 800px;
  margin: 0 auto 40px auto;
}

.customer_table th ,.customer_table td {
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
}

.customer_table th {
  background-color: #e6e6e6;
}

.table_id {
  width: 14%;
  text-align: center;
}

.table_name {
  display: flex;
  align-items: center;
}

.table_name_margin {
  margin-left: 10px;
}

.table_email {
  width: 33%;

}

.table_status {
  width: 20%;
  text-align: center;
}

/*フッター部分*/
#footer {
  height: 30px;
  text-align: center;
  background-color: #000;
}

#footer p{
  color: #fff;
  line-height: 30px;
  font-weight: bold;
}


@media screen and (max-width: 1245px) {

  .page_title {
    margin: 90px 0 38px 0;
  }

  #header {
    height: 50px;
    padding: 0 10px;
  }

  .header_logo a {
    width: 130px;
  }

.global_nav ul {
  height: 35px;
}

  .pc_nav {
    display: none;
  }

  .sp_nav {
    display: block;
  }

  .sp_menu_serach {
    display: none;
  }

  /*ハンバーガーアイコン*/
  .hm_btn {
    position: fixed;
    right: 85px;
    top: 11px;
    z-index: 10;
    display: block;
    margin-right: -30px;
  }
  .menu-trigger , .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 40px;
    height: 30px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }
  .menu-trigger span:nth-child(1) {
    top: 0;
  }
  .menu-trigger span:nth-child(2) {
    top: 13px;
  }
  .menu-trigger span:nth-child(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(-45deg);
    transform: translateY(13px) rotate(-45deg);
  }
  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(45deg);
    transform: translateY(-13px) rotate(45deg);
  }

  .profile_img_s img {  /*アイコン部分*/
    width: 35px;
    height: 35px;
  }

  /* spメニュー*/
  .sp_serach {
    display: none;
  }

  .sp-menu {
    width: 100%;
    height: 360px;
    position: fixed;
    top: 50px;
    left: 0;
    background: #fff;
    display: none;
    z-index: auto;
    text-align: center;
    font-weight: bold;
    align-items: center;
  }

  .search_form {  /*検索フォーム外枠*/
    height: 35px;
    position: fixed;
    right: 110px;
  }

  .sp-menu li a {
    line-height: 40px;
  }

  .sp-menu li {
    padding: 20px 0;
  }

  .sp_menu_border {
    border-top: 1px solid #e6e6e6;
  }

  .login_form_flex_btn {
    margin-bottom: 0px;
    display: flex;
    align-items: flex-start;;
    justify-content:center
  }

  .login_btn {
    margin-left: 20px;
  }

}


@media screen and (max-width: 1039px) {

  .post_wrap {
    max-width: 680px;
  }
}


@media screen and (max-width: 719px) {

  .sp_menu_serach {
    display: block;
  }

  .search_form {  /*検索フォーム外枠*/
    position: initial;
  }

  .pc_serach {
    display: none;
  }

  .post_btn {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    background-color: #ffea00;
    cursor: pointer;
  }

  .top_btn {
    width: 40px;
    display: block;
    cursor: pointer;
  }

  .message {
    margin-bottom: 20px;
  }

  .page_title {
    font-size: 24px;
    margin-bottom: 26px;
  }

  .post_wrap {
    max-width: 340px;
  }

  .search_form {  /*検索フォーム外枠*/
  width: 365px;
  }

  .custom_select {  /*検索フォームセレクト部分*/
    padding: 0 4px;
  }

  .search_btn {
    margin-right: 4px;
  }

  .search_form input[type="text"] {  /*検索フォーム入力部分*/
    width: 160px;
  }

  /*トップページ部分*/
  .top_text_wrap {
    padding: 40px;
    margin-top: 40px;
  }

  .top_copy  {
    font-size: 15px;
  }

  .top_logo {
    margin: 0 auto 20px;
  }

  .top_text {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .guestlogin-wrap {
    margin-top: 20px;
  }

  .btn_g_top {
    width: 100px;
  }

  .btn_y_top {
    width: 100px;
  }

  .guestlogin {
    margin-top: 20px;
    font-weight: bold;
  }


    /*会員詳細部分*/
  .profile_bg {
    padding: 90px 20px 40px;
  }

  .profile_img_wrap {
    text-align: center;
  }

  .profile_img_b {
    margin: 0 0 14px 0;
  }

  .icon_neme_customer {
    display: block;
  }

/*新規登録フォーム部分*/
.sinup_form_wrap {
  padding: 40px 20px;
}

.sinup_form_flex {
  display: block;
  max-width: 300px;
  margin: 0 auto 20px;
}

.sinup_form_flex p {
  margin-bottom: 10px;
}

.sinup_form_flex_last {
  display: block;
  max-width: 300px;
  margin: 0 auto 40px;
}

.sinup_form_flex_last p {
  margin-bottom: 10px;
}

  /*ログインフォーム部分*/
.login_form_wrap {
  padding: 40px 20px;
}

.login_form_flex {
  display: block;
  max-width: 300px;
  margin: 0 auto 20px;
}

.login_form_flex p {
  margin-bottom: 10px;
}

.login_form_flex_last {
  display: block;
  max-width: 300px;
  margin: 0 auto 40px;
}

.login_form_flex_last p {
  margin-bottom: 10px;
}


  /*投稿フォーム部分*/
  .post_form_wrap {
    padding: 40px 20px;
  }

  .post_form_flex {
    display: block;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .post_form_flex p {
    margin-bottom: 10px;
  }

  .post_form_flex_cap {
    display: block;
    max-width: 300px;
    margin: 0 auto 40px;
  }

  .post_form_flex_cap p {
    margin-bottom: 10px;
  }

  .post_form_control_cap {
    width: 300px;
    height: 100px;
    padding: 8px 10px;
    line-height: 25px;
  }

  .post_form_flex_btn {
    margin-bottom: 0px;
    display: flex;
    align-items: flex-start;
    justify-content:center;
  }


  /*プロフィール編集フォーム*/
  .prf_form_wrap {
    padding: 40px 20px;
  }

  .prf_form_flex {
    display: block;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .prf_form_flex p {
    margin-bottom: 10px;
  }

  .prf_form_control {
    display: block;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .prf_form_flex_int {
    display: block;
    max-width: 300px;
    margin: 0 auto 40px;
  }

  .prf_form_flex_int p {
    margin-bottom: 10px;
  }

  .prf_form_control_int {
    display: block;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .prf_form_flex_btn {
    display: flex;
    align-items: center;
    justify-content:center;
  }


  /*退会ページ部分*/
  .confirm_wrap {
    max-width: 800px;
    padding: 40px 20px;
  }

  /*管理者側会員一覧部分*/
  .customer_table {
    display: none;
    margin: 0 auto;
  }

  .customer_table_sp {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 0 auto 40px auto;
  }

  .customer_table_sp th ,.customer_table_sp td {
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
  }

  .customer_table_sp th {
    background-color: #e6e6e6;
  }

  .table_id_sp {
    width: 15%;
    text-align: center;
  }

  .table_name_sp {
    display: block;
    text-align: left;
  }

  .table_name_icon_sp {
    display: flex;
    align-items: center;
  }

  .table_name_margin_sp {
    margin-left: 10px;
  }

  .table_status_sp {
    width: 20%;
    text-align: center;
  }

}