/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-family: 'Zen Maru Gothic', serif;
  font-size: 16px;
  line-height: 1;
}

 body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

/*ヘッダー*/
#header {
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(0 6px 12px #f0f0f0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

main {
  flex: 1;
}

footer {
   margin-top: auto;
}

.page_title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 120px 0 38px 0;
}

#global_nav {
  margin-left: auto;
  font-weight: bold;
}

#global_nav ul {
  height: 40px;
}

#global_nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}

#global_nav li {
  margin-left: 30px;
}

#global_nav li a {
  line-height: 40px;
}

#search_form {  /*検索フォーム外枠*/
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 6px
}

.custom_select {  /*検索フォームセレクト部分*/
  background-color: #fff;
  border: 0px;
  padding: 0 15px 0 15px;
  border-left: 1px solid #e6e6e6;
  border-radius: 0px;
  font-weight: bold;
}

.border_hide {
  border-left: 0px;
}

#search_form select:focus {
  outline: none;
}

#search_form input[type="text"] {  /*検索フォーム入力部分*/
  background-color: #fff;
  border: 0px;
  padding: 0 0 0 10px;
  border-left: 1px solid #e6e6e6;
  border-radius: 0px;
}

#search_form input[type="text"]:focus {
  outline: none;
}

#search_form input[type="submit"] {  /*検索フォームボタン部分*/
  background-color: #fff;
  padding: 0px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
}

.profile_img_s img {  /*アイコン部分*/
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}

.header_btn {
  width: 140px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
}

.top_text_wrap {
  padding: 40px 0;
  text-align: center;
  border-radius: 6px;
}

.top_copy  {
  font-size: 20px;
  font-weight: bold;
}

.top_text  {
  font-weight: bold;
  line-height: 34px;
}

/*投稿一覧部分*/
.post_wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post {
  width: 320px;
  height: 440px;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  position: relative;
}

.icon_neme_day {
  display: flex;
  margin-bottom: 20px;
}

.post_img {
  width: 100%;
  height: 212px;
  object-fit: cover;
  object-position: center center;
  border-radius: 6px 6px 0 0;
}

.post_text {
  margin: 20px 20px 0 20px;
}

.profile_flex {
  margin-left: 14px;
}

.customer_name {
  margin: 0 10px 10px 0;
  font-weight: bold;
}

.post_day {
  font-size: 14px;
  color: #999;
}

.post_caption {
  margin-bottom: 20px;
}

.comment_favo {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.favo {
  margin-left: 10px;
}

/*投稿詳細部分*/
.post_show {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  position: relative;
}

.post_show_img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.show_comment_favo {
  margin-bottom: 20px;
  display: flex;
}

.comment_form {
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
}

.comment_btn {
  margin-bottom: 20px;
}

.comment_profile_flex {
  margin-left: 20px;
  display: flex;
  align-items: baseline;
}

.comment_text {
  width: 450px;
  margin-right: 14px;
  line-height: 24px;
  font-size: 14px;
}

/*投稿フォーム部分*/
.form_wrap {
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
}

.form_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_nwe_title {
  width: 138px;
  height: 30px;
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: bold;
}

.post_nwe_form {
  margin-bottom: 20px;
}

/*会員一覧部分*/
.customers_list {
  margin: 0 auto;
  width: 600px;
}

.customers_wrap {
  width: 600px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.customers_text {
  width: 404px;
}

/*会員詳細部分*/
.profile_bg {
  padding: 120px 0 40px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
}

.profile {
  width: 600px;
  margin: 0 auto;
}

.profile_btn {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.profile_img_b {
  width: 130px;
  height: 130px;
  margin-right: 20px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}

.icon_neme_customer {
  display: flex;
}

.customer_name_b {
  margin: 70px 0 16px 0;
  font-size: 26px;
  font-weight: bold;
}

.counter_flex {
  display: flex;
}

.counter_flex a {
  margin-right: 16px;
}

.customer_show_text {
  line-height: 30px;
}




#footer {
  height: 30px;
  text-align: center;
  background-color: #000;
}

#footer p{
  color: #fff;
  line-height: 30px;
  font-weight: bold;
}